<form (ngSubmit)="findRoute()">
  <div>
    <label for="origin">Origin:</label>
    <input type="text" id="origin" [(ngModel)]="origin" name="origin" required minlength="3" maxlength="3" pattern="[A-Z]{3}" (input)="origin = origin.toUpperCase()">
  </div>
  <div>
    <label for="destination">Destination:</label>
    <input type="text" id="destination" [(ngModel)]="destination" name="destination" required minlength="3" maxlength="3" pattern="[A-Z]{3}" (input)="destination = destination.toUpperCase()">
  </div>
  <button type="submit" [disabled]="origin === destination || !origin || !destination">Find Route</button>
</form>

<div *ngIf="journey">
  <h2>Detalles del Viaje:</h2>
  <ul>
    <li *ngFor="let flight of journey">
      <div>Salida: {{ flight.departureStation }}</div>
      <div>Llegada: {{ flight.arrivalStation }}</div>
      <div>Precio: {{ flight.price }}</div>
      <span>Transporte: </span>
      <div>Número de vuelo: {{ flight.flightNumber }}</div>
      <div>Abordaje: {{ flight.flightCarrier }}</div>
    </li>
  </ul>
</div>
